---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";





  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "ted1 ted2 ted3 ted4"
      ". . . ."
      ". . . .";
  }
  .ted1 { grid-area: ted1; }
  .ted2 { grid-area: ted2; }
  .ted3 { grid-area: ted3; }
  .ted4 { grid-area: ted4; }